<ion-view view-title="TranBiBus" ng-init="init()">
    <ion-content>
        <a class="item-image item" href="#/app/searchBus"><img src="images/bus.png" /></a>
        <a class="item-image item" href="#/app/searchBizi"><img src="images/bizi.png" /></a>
        <a class="item-image item" href="#/app/searchTranvia"><img src="images/tranvia.png" /></a>
    </ion-content>
    <div class="bar bar-footer bar-dark bar-footer-min">
        <span class="h-center width-100">© 2016 Miguel Moreno</span>
    </div>
</ion-view>