<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Angular.UI.UI-Router" version="0.2.17" targetFramework="mdd81" />
  <package id="angular-google-maps" version="2.3.2" targetFramework="mdd81" />
  <package id="angularjs" version="1.5.0" targetFramework="mdd81" />
  <package id="AngularJS.Animate" version="1.5.0" targetFramework="mdd81" />
  <package id="AngularJS.Core" version="1.5.0" targetFramework="mdd81" />
  <package id="AngularJS.Resource" version="1.5.0" targetFramework="mdd81" />
  <package id="AngularJS.Route" version="1.5.0" targetFramework="mdd81" />
  <package id="AngularJS.Sanitize" version="1.5.0" targetFramework="mdd81" />
  <package id="angular-local-storage" version="0.2.3" targetFramework="mdd81" />
  <package id="IonicVS2015" version="1.1.0" targetFramework="mdd81" />
  <package id="lodash" version="3.10.0" targetFramework="mdd81" />
</packages>